@tailwind base;
@tailwind components;
@tailwind utilities;
/* Voeg toe aan resources/css/app.css */
<<<<<<< HEAD
[x-cloak] { display: none; }


.fc-event {
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.85em;
}

<<<<<<< HEAD
=======
[x-cloak] { display: none; }
>>>>>>> parent of 426174f (User story 3, Planner en robot)
=======
.fc-highlight {
    background: rgba(59, 130, 246, 0.1);
}
>>>>>>> parent of 4f325ed (fucked up code now)
